[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
python-twitter = "*"
pytest-cov = "*"
dataset = "*"
autopep8 = "*"
praw = "*"
coloredlogs = "*"
click = "*"
facepy = "*"
singer-python = "*"
pymongo = "*"
click-completion = "*"
better_exceptions = "*"
BASC-py4chan = "*"
